body{
	background-color: lightblue;
	font-family: Times, Times New Roman, serif;
	font-style: oblique;
}
h1{
	font-weight: 600;
	font-size: 65px;
}
div.model h2{
	color:olive;
	margin-bottom:10%;
	margin-left:4%;
	font-weight: 600;
	font-size: 65px;
}
div h2{
	text-align: left;
	color: blue;
	font-weight: 600;
	font-size: 45px;
	margin-top:5%;
}
#des_2{
	font-size: 25.5px;
}
.t_3{
	padding: 10px;
	border-top: 10px;
}
center{
	color:blue;
	font-weight: 500;
	font-size: 60px;
	margin-top: 5%;
}
div.les_4 ul{
	color: blue;
	font-weight:400;
	font-size: 30px;
	margin-top: 30px
	margin-bottom:25px;
}
b.sp_1{
	text-align:center;
	color:#b75fc6;
	font-size: 35px;
	margin-top:45px
	margin-bottom:15px;
	margin-left: 15px;
	margin-right:75px;
}
div.cash{
	color:#818933;
	font-size: 15px;
	margin-top:5%;
}
select.age{
	margin: 25px;
	margin-top: 40px;
}